footer .accordion {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

footer .active,
.accordion:hover {
    border: none !important;
}

footer .panel {
    padding: 18px;
    display: none;
    overflow: hidden;
    width: 100%;
}

footer a {
    color: black;
    font-size: 0.9rem;
}

footer a:hover {
    color: black;
    text-decoration: none;
}

footer .plus {
    display: block;
}

footer .cross {
    display: none;
}

footer hr {
    margin-bottom: -10rem;
}

.a1,
.a1 a {
    text-decoration: none;
    font-size: 0.9rem;
    display: block;
    margin-bottom: 1.6rem;
}

.a1 ul {
    margin-left: -2rem;
}

@media(min-width:900px) {
    footer .container-fluid {
        padding: 0 5rem;
    }
}

/* .discover {
    margin-left: -3rem;
} */
